doctype html  
html(lang='en')  
  head
    title Pug
  body
  h1 Games
  if game.id
    form(action=action, method='POST')
      label Name
      input(name="name",  type="text",  value=game.name)
      label Mode :
      label #{game.mode}
      label Around the world
      input(name="mode", value="around-the-world",  type="radio") 
      label 301
      input(name="mode", value="301",  type="radio") 
      label Cricket
      input(name="mode", value="cricket",  type="radio") 
      input(type='submit', value='Submit')
  else
    form(action=action, method='POST')
      label Name
      input(name="name",  type="text")
      label Mode :
      label Around the world
      input(name="mode", value="around-the-world",  type="radio") 
      label 301
      input(name="mode", value="301",  type="radio") 
      label Cricket
      input(name="mode", value="cricket",  type="radio") 
      input(type='submit', value='Submit')
